[submodule "reference/ogldev_source"]
	path = reference/ogldev_source
	url = https://github.com/flcker/ogldev_source.git
[submodule "reference/OpenGLDemo"]
	path = reference/OpenGLDemo
	url = https://github.com/jiangxh1992/OpenGLDemo.git
[submodule "reference/LearnOpenGL"]
	path = reference/LearnOpenGL
	url = https://github.com/JoeyDeVries/LearnOpenGL.git
